<!DOCTYPE html>
{# Blablabla #}
<html>
  <head>
    <title>Accueil {{ inventory_hostname }}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h4>Accueil du site {{ inventory_hostname }}</h4>
    {%- for stagiaire in stagiaires -%}
      {% if loop.first == true -%}
         Stagiaires:<br>
	 <ul>
      {% endif %}
      <li>{{ loop.index }} - {{ stagiaire }}</li>
      {% if loop.last == true %}
         </ul>
      {% endif %}
    {% endfor %}
  </body>
</html>
